@model DataSetsPageViewModel
@{
    Layout = "_Layout";
}


<header>
    <partial name="Partial/_NavBar" />
</header>

<section>
    <div class="container">

        <!--WRAPPING ROW-->
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="row d-flex justify-content-md-between">

                    <!--HEADER-->
                    <div class="col">
                        <h2 class="fs-4 mb-4">@ViewBag.Title</h2>
                    </div>

                    <!--GENERATE DATA BUTTON-->
                    <form>
                        <div class="col mb-4 d-flex justify-content-end align-items-center">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            
                            <div class="d-flex align-items-center me-3">
                                <label asp-for="RowsNumber" class="me-3">Rows:</label>
                                <input asp-for="RowsNumber" type="number" class="form-control rows-number">
                                <input asp-for="SchemaId" type="hidden" class="form-control">
                                <span asp-validation-for="RowsNumber"></span>
                            </div>

                            <input type="submit"
                                   name="submit"
                                   formmethod="post"
                                   value="Generate data"
                                   class="btn btn-success px-4 float-end"
                                   asp-controller="Home"
                                   asp-action="GenerateCsv">
                        </div>
                    </form>
                </div>

                <!--TABLE-->
                @if (Model.DataSets != null && Model.DataSets.Any())
                {
                    int i = 1;
                    foreach (var dataSet in Model.DataSets)
                    {
                        <table class="table table-bordered align-middle">
                            <colgroup>
                                <col style="width:10%">
                                <col span="3" style="width:30%">
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Crated</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>@(i++)</th>
                                    <td>@(dataSet.CreationTime)</td>
                                    <td><span class="badge bg-success">Ready</span></td>
                                    <td class="p-1">
                                        <ul>
                                            <li class="d-inline">
                                                <a class="btn btn-link no-underline"
                                                   asp-controller="Home"
                                                   asp-action="DownloadCsv"
                                                   asp-route-name="@(dataSet.Name)">
                                                    Download
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }

                }
                else
                {
                    <div class="row">
                        <div class="col">
                            <h3 class="fs-5 mb-4">There is no avaliable data sets.<br>You can generate a new one</h3>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>