@{
    Layout = "_Layout";
}

<header>
    <partial name="Partial/_NavBar" />
</header>

<section class="data-schemas">
    <div class="container">

        <!--WRAPPING ROW-->
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="row d-flex justify-content-md-between">

                    <!--HEADER-->
                    <div class="col">
                        <h2 class="fs-4 mb-4">Data schemas</h2>
                    </div>

                    <!--SUBMIT BUTTON-->
                    <div class="col mb-4 ">
                        <a asp-controller="NewSchema" asp-action="Index" class="btn btn-success px-4 float-end">New schema</a>
                    </div>
                </div>

                <!--TABLE-->
                <table class="table table-bordered align-middle">
                    <colgroup>
                        <col style="width:10%">
                        <col span="3" style="width:30%">
                    </colgroup>

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td class="p-1"><a class="btn btn-link no-underline"  asp-controller="DataSets" asp-action="Index" asp-route-id="1">Customers</a></td>
                            <td>2020-03-16</td>
                            <td class="p-1">
                                <ul>
                                    <li class="d-inline">
                                        <a class="btn btn-link no-underline" href="#">Edit scheme</a>
                                    </li>
                                    <li class="d-inline">
                                        <a class="btn btn-link no-underline text-danger" href="#">Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td class="p-1"><a class="btn btn-link no-underline" href="#">Appartments</a></td>
                            <td>2020-03-16</td>
                            <td class="p-1">
                                <ul>
                                    <li class="d-inline">
                                        <a class="btn btn-link no-underline" href="#">Edit scheme</a>
                                    </li>
                                    <li class="d-inline">
                                        <a class="btn btn-link no-underline text-danger" href="#">Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td class="p-1"><a class="btn btn-link no-underline" href="#">Influencers</a></td>
                            <td>2020-03-16</td>
                            <td class="p-1">
                                <ul>
                                    <li class="d-inline">
                                        <a class="btn btn-link no-underline" href="#">Edit scheme</a>
                                    </li>
                                    <li class="d-inline">
                                        <a class="btn btn-link no-underline text-danger" href="#">Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>