<nav class="navbar navbar-expand-sm navbar-light mb-5">
    <div class="container-md d-md-flex justify-content-md-between">


        <a class="navbar-brand" asp-controller="Home" asp-action="Index">FakeCSV</a>
        @* if user is logged in render another view without link*@

    </div>
</nav>