<tr>
    <th><span id="row-number"></span></th>
    <td><span id="date-time"></span></td>
    <td><span id="badge" class="badge bg-secondary">Processing</span></td>
    <td class="p-1">
        <ul>
            <li class="d-inline">
                <a id="download-csv-button" class="btn btn-link no-underline disabled" href="#" >Download</a>
            </li>
        </ul>
    </td>
</tr>
