<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Helvetica" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    <title>@ViewBag.Title</title>
</head>

<body>
    

@RenderBody()

@await RenderSectionAsync("Scripts", false)
</body>

</html>